<div id="about" class="container-fluid">
<h1 class="center">Partners In Code</h1>

<p class='flow-text center' style="font-size: 20px">partnersInCode was created by three new students who teamed up to do a project together.  When the project was done, they each voiced that it would be awesome to "partner up" with other web developers in hopes to continue their learnings as well as bringing another arena for community meet ups. <p>

<!-- <div class="container center"><img src="/img/DevCollabers.jpg" style="width:50%;height:50%;border-radius: 20px"></div>
<div class="row"></div> -->
<h3 class="center">Meet Our Project Owners</h3>

<div class="container-fluid">

	<div class="row">

						<div class="col s4">
						  <ul class="collapsible" data-collapsible="accordion" style="background-color:lightblue">
						    <li>
						      <div class="collapsible-header" style="background-color:lightslategray"><span><img src="/img/tim.jpg" style="width:25%;height:20%;border-radius:40px;border:10px solid darkgray;padding-top:-15px"><p style="font-size:20px;margin-bottom:10px">Tim Muangkeo <br> Full Stack Developer<i class="material-icons right">more_vert</i></p></span></div>
						      <div class="collapsible-body"><span class="text center">MEAN Stack Demon| Aspiring MMA Champ| Curious George</span></div>
						    </li>
						  </div>
						</ul>


          <div class="col s4">
              <ul class="collapsible" data-collapsible="accordion" style="background-color:lightblue">
              <li>
                     <div class="collapsible-header" style="background-color:coral"><span><img src="/img/em.jpg" style="width:25%;height:20%;border-radius:40px;border:10px solid darkgray;padding-top:-15px"><p style="font-size:20px;margin-bottom:10px">Emmeline Aquino<i class="material-icons right">more_vert</i></span></p></div>
                <div class="collapsible-body"><span>Full Stack Developer <br> An Armful of AWESOMENESS!!  That's it! </span></div>
              </li>
              </div>
              </ul>


        <div class="col s4">
          <ul class="collapsible" data-collapsible="accordion" style="background-color:lightblue">
              <li>
                 <div class="collapsible-header" style="background-color:purple"><span><img src="/img/celina.jpg" style="width:25%;height:20%;border-radius:40px;border:10px solid darkgray;padding-top:-15px"><p style="font-size:20px;margin-bottom:10px">Celina Guiterrez<i class="material-icons right">more_vert</i></span></p></div>
                <div class="collapsible-body"><span>Front End Developer <br> Activist | Dog-Lover </span></div>
              </li>
                </div>
            </ul>


  </div>
</div>
</div>
