
<!-- <ul ng-controller="NavCtrl" role="navigation" class="fixed" id="nav-mobile" ng-show="isLoggedIn()" style="transform: translateX(0px);">
    <li><img class="responsive-img" src="img/partners.png"></li>
    <li><a href="/About">About Us</a></li>
    <li><a href="/portfolio">Portfolios</a></li>
    <li><a href="/stalkers/{{profile()}}">Profile</a></li>
    <li><a href="/portfolio/edit">Settings</a></li>
    <li><a ng-click="logout()" ng-show="isLoggedIn()">Logout</a></li>
</ul>
<a href="#" class="button-collapse md-primary" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="200" data-closeonclick="false">
    <i class="small material-icons">menu</i>
</a> -->

<nav class="topbar">
    <div class="nav-wrapper">
        <ul ng-controller="NavCtrl" id="nav-mobile" class="right hide-on-med-and-down">
      <li style="width:30px;height:30px"><a href="/portfolio" class="brand-logo center"><img class="responsive-img" src="img/partners.png"></a></li>
          <li><a href="/portfolio">Portfolios</a></li>
	        <li><a href="/stalkers/{{profile()}}">Profiles</a></li>
	        <li><a href="/About">About Us</a></li>
	    		<li><a ng-click="logout()" ng-show="isLoggedIn()">Logout</a></li>
      	</ul>
<!--   <a href="#" class="button-collapse md-primary" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="200" data-closeonclick="false">
    <i class="small material-icons">menu</i>
</a> -->
    </div>

</nav>
