<div class="container center">
    <h1 class="card blue-grey lighten-5">Portfolios</h1>
</div>
<div ng-if="!stalkers">
    loading...
</div>

<div ng-if="stalkers">

    <div class="container">

        <div class="row-fluid">

            <div carousel full-width='true'>

                <div class="center">

                    <div class="col s12 m6 offset-m3">

                        <div class="card">
                            <img src="img/comput.jpg" width='100%'>
                            <div class="carousel-item blue-grey darken-1" width=100% ng-repeat="stalker in stalkers">

                                <div class="card-image">
                                    <span class="card-title white-text"><strong>{{stalker.name}}</strong></span>
                                    <a href="{{stalker.portfolioUrl}}">
                                        <img src="{{stalker.avatar}}" style="width:200px;height:180px">
                                    </a>
                                </div>


                                <div class="card-content">
                                    <p class='center blue-grey darken-1 white-text'>{{stalker.title}}</p>
                                    <div class="card-content blue-grey darken-1">
                                        <a class="white-text" href="{{stalker.portfolioUrl}}">Link to My Portfolio</a>
                                        <a ng-click="deleteStalker(stalkers.id, $index)" class="red-text">Delete</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
